body{
    background-color: darkcyan;
}
h1{
    color: azure;
    margin-left: 20px;
    font-size: 90px;
}
#paral{
    text-align: center;
    color: darkgreen;
}
#ccenter{
    text-align: center;
    color: rgb(111, 255, 111);
}